{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 0.25%", "not dead"]
      },
      "useBuiltIns": "entry",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-block-scoping"
  ]
}
